## folder
extract/
NER_data/
RelExtract_data/
translate/
ILLs/
raw_triple/

## files
ILLs(zh-en).txt
train_data.txt
triple_en.txt
triple_zh.txt
sample_submission_for_validation.txt
valid_data.txt
train_data_unique.txt