## folder
extract/
translate/
ILLs/
raw_triple/
raw_data/
excel_data/

## files
ILLs(zh-en).txt
train_data.txt
triple_en.txt
triple_zh.txt
sample_submission_for_validation.txt
valid_data.txt
train_data_unique.txt